.rhap_container {
    background-color: #25262b !important;
}

.rhap_main-controls-button svg {
    color: #4087c1 !important;
}
.rhap_progress-filled,
.rhap_progress-indicator {
    background-color: #4087c1 !important;
}

.rhap_button-clear.rhap_volume-button {
    color: #4087c1 !important;
}

.rhap_time,
.rhap_total-time {
    color: #dddddd !important;
}

@media only screen and (min-width: 769px) {
    .article-card-img-container {
        display: block;
        overflow: hidden;
        max-height: 195px;
        max-width: 347px;
    }
}

.ql-editor {
    font-size: 1.2em;
}
